body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(72, 70, 70, 0.664), rgba(219, 215, 214, 0.482));
    box-shadow: 0px 5px 5px rgba(255,255,255, 0.37);
    margin: 20px;
    width: 40%;
    height: 80%;
    font-family: 'Montserrat', sans-serif;

  }
  
  #header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  #input {
    background-color: rgba(142, 127, 161, 0.105);
    border-radius: 20px;
    border: 3px solid #f4f6f2;
    padding: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  #when-where {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #city {
    color: #C55300;
    font-size: 35px;
    font-weight: bold;
  }
  
  #date {
    color: #FFF;
    font-size: 24px;
  }
  
  #now {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  #temperature {
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 5px rgb(72, 71, 71);
    margin: 0;
  }
  
  #feelsLike {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
  }
  
  #conditions {
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
  }
  
  #variation {
    color: #FFF;
    font-size: 26px;
    font-weight: bold;
  }
  